*{  /* tells every element on the page to not have a margin or border unless specified */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-color: rgb(33, 145, 131);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #515C55;
  line-height: 1.5;
  /*font-size: 16px; */
}

.jumbotron {
  display: flex-block;
  position: relative;
  text-align: center;
  background-color: #8793ee;
  padding: 20px;
}

main {
  margin: 10px auto;
  width: 94%;
}

.card {
  background-color: #cfd4f8;
}

.card-header {
  padding: 0; /* keep border around "search for a city" small */
  
}

.btn {
  width: 30%;
  display: inline;
  text-align: center;
  font-size: 14px;
  
}

 .search-line {
  display: inline;
  text-align: center;

} 

.form-input {
  display: inline;
  text-align: left;
  width: 60%;
}

.flex-row {
  display: inline-flex; /* make card next to the city search box */
}

.current-info { /*temp, humidity, wind, etc*/
  font-size: 15px;
  color: white;
}