*{  /* tells every element on the page to not have a margin or border unless specified */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-color: rgb(33, 145, 131);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
  line-height: 1.5em;
}

.jumbotron {
  display: flex-block;
  position: relative;
  text-align: center;
  background-color: #FFFFB7;
  padding: 20px;
}

main {
  margin: 10px auto;
  width: 94%;
}

.card {
  background-color: rgb(33, 145, 131);
  border: solid;
  border-color: black;
  border-width: 2px;
}

.card-header {
  padding: 0; /* keep border around "search for a city" small */
}

.card-group {
  padding-top: 40px;
}


.btn {
  width: 30%;
  display: inline;
  text-align: center;
  line-height: 1.5em;
  font-size: 14px;
  color: black;
}

.search-line {
  display: inline;
  text-align: center;
  height: 1.5em; /*supposed to be same as height of the button to make text vertically centered*/
}

.form-input {
  display: inline;
  text-align: left;
  width: 60%;
}

.flex-row {
  display: inline-flex; /* make card next to the city search box */
}

.current-card {
  border: solid;
  padding: 20px;
  border-color: black;
  border-width: 3px;
  background-color: #fffdd0;
}
.current-info { /*temp, humidity, wind, etc*/
  font-size: 15px;
  color: black;
  line-height: 3em; /* spacing between output */
}

img {
  float: right;
  height: 100px;
  width: 100px;
}

.five-day-cards {
  display: inline-flex;
  margin: 15px;
  background-color: #fffdd0;
  color: black;
  border-style: solid;
}

.forecast-card {
  justify-content: space-around;
  display: flex;
}

.badge {
  font-size: 15px;
}